* {
    box-sizing: border-box;
}

html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

#card {
  display: grid;
  grid-template-columns: 3% 97%;
  grid-template-rows: 6% 38% 6% 50%;
  width: 98vw;
  height: 98vh;
  border-style: solid;
  border-width: 5px;
  border-radius: 5px;
}

/* Information Display */
#information {
  grid-column: 1/3;
  grid-row: 2/3;
  place-self: center;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60vw;
  height: 25vh;
}

#datetimeWidget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#time {
  text-align: center;
  font-size: 5vw;
}

#date {
  text-align: center;
  font-size: 2vw;
}

#weatherWidget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#weatherLine1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

#weatherImage-clearDay, #weatherImage-clearNight, #weatherImage-cloudyNight,
#weatherImage-drizzle, #weatherImage-extremeStorms, #weatherImage-foggyDay,
#weatherImage-foggyNight, #weatherImage-heavyRain, #weatherImage-moderateRain,
#weatherImage-overcast, #weatherImage-partlyCloudy, #weatherImage-snow,
#weatherImage-thunderstorm, #weatherImage-windy {
  display: none;
  width: 3.8vw;
  height: auto;
}

#weatherLine2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2vw;
}

#weatherExpansionPopup {
  border: solid;
  border-width: 5px;
  border-radius: 5px;
  margin-top: 40vh;
  margin-left: 55vw;
  font-size: 1.1vw;
}

/* Search Bar */
#search {
  grid-column: 1/3;
  grid-row: 3/4;
  place-self: center;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 51vw;
  height: 5vh;
  font-weight: bold;
}

#search-input {
  width: 40vw;
  height: 5vh;

  border: solid;
  border-width: 5px;
  border-radius: 5px;
}

#search-input[type=text] {
  font-size: 1.75vw;
  font-weight: bold;
  text-align: center;
}

/* bookmarks */
#bookmarks {
  grid-column: 1/3;
  grid-row: 4/5;
  place-self: center;
  height: 90%;
  width: 70%;

  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-template-rows: 98%;
  justify-content: center;
  align-items: center;
  grid-column-gap: 1.5vw;
}

.bookmarkBox {
  place-self: center;
  height: 80%;
  width: 90%;
  border: solid;
  border-width: 5px;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 80%
}

.bookmarkBox h2 {
  font-size: 1.6vw;
  place-self: center;
}

.bookmarkListBox {
  justify-self: center;
  align-self: start;
  padding-top: .5em;

  display: flex;
  flex-direction: column;
  line-height: 1.1em;
  font-size: 1vw;
}

#bookmarks a {
  text-decoration: none;
}

/* Settings Panel */
#settingsPopup {
  border: solid;
  border-width: 5px;
  border-radius: 5px;
  width: 90%;
  height: 90%;
}

#settingsPanel {
  margin-left: 2.5%;
  display: grid;
  grid-template-rows: 5% 20% 5% 65% 5%;
  grid-template-columns: 45% 45%;
  justify-content: center;
  height: 95%;
  width: 95%;
}

#settingsPanel h3 {
  text-align: center;
  align-self: center;
}

#colorSettings {
  display: grid;
  grid-template-rows: repeat(2, 28%);
  grid-template-columns: repeat(3, 28%);
  grid-row-gap: .5em;
  grid-column-gap: .5em;
  justify-content: center;
  align-items: center;
  width: 80%;
  justify-self: center;
  padding-top: 1em;
}

.colorInputLabel {
  justify-self: end;
}

#locationSettings {
  display: grid;
  grid-template-rows: 45% 45%;
  grid-template-columns: 42% 42%;
  height: 75%;
  width: 90%;
  justify-self: center;
  align-self: start;
  padding-top: 1em;
}

#latitudeInputLabel, #longitudeInputLabel {
  grid-row: 2/3;
}

#locationSettings label {
  justify-self: end;
  align-self: center;
}

#bookmarkSettingsHeader {
  grid-column: 1 / 3;
  justify-self: center;
}

#bookmarkSettings {
  display: grid;
  grid-template-rows: 3em 2em auto;
  grid-template-columns: repeat(4, 25%);
  grid-row-gap: 1em;
  grid-column: 1 / 3;
}

#bookmarkSettings h4 {
  text-align: center;
}

.bookmarkCategoryInput {
  margin-left: 5em;
  margin-right: 5em;
}

.bookmarkInputListBox {
  display: grid;
  grid-template-rows: repeat(10, 9%);
  grid-template-columns: repeat(2, 48%);
  justify-content: center;
  grid-row-gap: .2em;
  grid-column-gap: .5em;
}

.bookmarkSettingsBox ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.locationInput, .bookmarkCategoryInput {
  border: solid 2px;
  border-radius: 5px;
  font-size: 1em;
}

.bookmarkNameInput, .bookmarkUrlInput {
  border: solid 2px;
  border-radius: 5px;
  font-size: 12px;
}

#saveBtn {
  grid-column: 1/3;
}

/* Buttons */
#settingsBtn {
  justify-self: center;
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-radius: 5px;
  cursor: pointer;
}

#settingsBtnSvg {
  width: 2vw;
  height: 2vw;
}
.closePopupBtn{
  border: none;
  cursor: pointer;
}

.closePopupBtnSvg {
  height: auto;
  width: 1vw;
}

#saveBtn {
  border: none;
  cursor: pointer;
}

#saveBtnSvg {
  height: 2vw;
  width: 2vw;
}

#expandWeatherBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-radius: 5px;
  cursor: pointer;
}

#expandWeatherBtnSvg {
  width: 2vw;
  height: 2vw;
}
