/*
background #1a1b26
foreground #c0caf5
selection_background #283457
selection_foreground #c0caf5
url_color #73daca
cursor #c0caf5
cursor_text_color #1a1b26

# Tabs
active_tab_background #7aa2f7
active_tab_foreground #16161e
inactive_tab_background #292e42
inactive_tab_foreground #545c7e
#tab_bar_background #15161e

# Windows
active_border_color #7aa2f7
inactive_border_color #292e42

# normal
color0 #15161e
color1 #f7768e
color2 #9ece6a
color3 #e0af68
color4 #7aa2f7
color5 #bb9af7
color6 #7dcfff
color7 #a9b1d6

# bright
color8 #414868
color9 #f7768e
color10 #9ece6a
color11 #e0af68
color12 #7aa2f7
color13 #bb9af7
color14 #7dcfff
color15 #c0caf5

# extended colors
color16 #ff9e64
color17 #db4b4b
*/

/* ######################################################################### */
/* # GENERAL                                                               # */
/* ######################################################################### */

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a0a8b7;
    background-color: #1f2329;
    font-family: "Titilium", sans-serif;
    font-weight: bold;
}

/* ######################################################################### */
/* # BODY                                                                  # */
/* ######################################################################### */
.body-foreground {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 98vw;
    height: 98vh;
    background-color: #1f2329;
    border-style: solid;
    border-width: 5px;
    border-color: #a0a8b7;
    border-radius: 5px;
}

/* ######################################################################### */
/* # INFORMATION DISPLAY (CLOCK + WEATHER WIDGETS)                         # */
/* ######################################################################### */
.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 25vh;
}

.row-1 {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.clock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10vh;
    font-size: 5vw;
}

.temp-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 10vh;
}

.temp-image div {
    font-size: 5vw;
}

.temp-image img {
    width: 5vw;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 5vh;
    font-size: 2vw;
}

.weather-desc-other {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 5vh;
}
.weather-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    font-size: 2vw;
}

.weather-dropdown {
    height: 5vh;
}

.dropbtn {
    height: 5vh;
    font-weight: bold;
    color: #a0a8b7;
    background-color: #1f2329;
    font-size: 2vw;
    border: solid 4px #a0a8b7;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
.dropbtn img {
    height: 4vh;
}

.dropdown-menu {
    width: 15vw;
    display: none;
    position: absolute;
    background-color: #1f2329;
    border: solid 5px #a0a8b7;
    border-radius: 5px;
    transition: height .4s ease;
}

.dropdown-menu p {
    font-size: 1vw;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.weather-dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ######################################################################### */
/* # SEARCH BAR                                                            # */
/* ######################################################################### */
.search {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 51vw;
    height: 5vh;
    font-weight: bold;
}

.searchbox {
    width: 40vw;
    height: 5vh;
    color: #a0a8b7;
    background-color: #1f2329;

    border: solid;
    border-color: #a0a8b7;
    border-width: 3px;
    border-radius: 5px;
}

.searchbox[type=text] {
    font-size: 1.75vw;
    font-weight: bold;
    text-align: center;
}

.searchbox:focus {
    outline: 5px solid #bf68d9;
}

/* ######################################################################### */
/* # BOOKMARKS DISPLAY                                                     # */
/* ######################################################################### */
.bookmarks {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 75vw;
    height: 35vh;
    color: #1f2329;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
}

.bookmark-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: .9vw;
}

.bookmark {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

a:visited {
    color: inherit;
}

a:link {
    color: inherit;
}

a:hover {
    transform: scale(1.1);
    background-color: #a0a8b7;
}

.media-bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1vh;
    width: 15vw;
    height: 30vh;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
    border-color: #a0a8b7;
    background-color: #e55561;
}

.tech-dev-bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1vh;
    width: 15vw;
    height: 30vh;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #a0a8b7;
    background-color: #8ebd6b;
}

.gaming-bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1vh;
    width: 15vw;
    height: 30vh;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #a0a8b7;
    background-color: #e2b86b;
}

.finance-bookmarks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 1vh;
    width: 15vw;
    height: 30vh;
    border-style: solid;
    border-width: 3px;
    border-radius: 5px;
    border-color: #a0a8b7;
    background-color: #4fa6ed;
}
